
header {
    .nav-logo {
        div {
            a {
                color: aliceblue;
            }
        }
    }

    .navbar-horizontal {
        div {
            div {
                div {
                    
                    a {
                        margin-right: 2em;
                        color: aliceblue;
                    }
                }
            }
        }
    }
}