header {
    .nav-bar {
        div {
            a {
                img {
                    padding:  0;
                }
            }
            div {
                ul {
                    li {
                        margin-left: 3em;

                        @media screen and (max-width: 992px) {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }
}